<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="includes">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <script type="text/javascript" th:src="@{webjars/jquery/3.2.1/jquery.min.js}" />
        <script type="text/javascript" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.min.js}" />
    </head>

    <body>
    </body>

</html>

<!--

    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}" />
    <script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" />

-->



