<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default" th:fragment="navbarHome">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle col-lg-2 col-lg-md-2 col-sm-12" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/saleswebapp/home" style="font-size: 175%">
                        <b>S</b>ales<b>W</b>eb<b>A</b>pp
                    </a>
                </div>

                <div class="navbar-collapse collapse" style="margin-top: 1.3%">
                    <ul class="list-inline navbar-left col-lg-7 col-lg-md-6 col-sm-7">
                        <li><a class="btn-link" th:href="@{/newRestaurant}"> <th th:text="#{navbar.label.restaurant}" /> </a></li>
                        <li><a class="btn-link" th:href="@{/emptyOfferOverview}"> <th th:text="#{navbar.label.offerOverview}" /> </a></li>
                        <li><a class="btn-link" th:href="@{/profile}"><th th:text="#{navbar.label.dropdown.userProfilSettings}" /></a></li>
                        <li style="margin-left: 50px">
                            <span class="glyphicon glyphicon-question-sign" th:title="#{home.label.tooltip.navbar.payment}" />
                            <span class="btn-link" disabled="disabled" style="margin-left: 5px" th:text="#{home.label.navbar.payment}" />
                            <span class="btn-link" disabled="disabled">
                                <b th:text="${currentPayment}" />
                            </span>
                        </li>
                    </ul>
                    <ul class="list-inline navbar-left col-lg-3 co-lg-md-4 col-sm-5">
                        <li><a href="?language=de">Deutsch</a> | <a  href="?language=en">English</a></li>
                        <li><a th:href="@{home/logout}">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>
