/**
 * Footer Styles
 */
.footer {
    position: absolute;
    right: 0;
    bottom: 0rem;
    left: 1rem;
    padding: 0rem;
    <!-- background-color: #efefef; -->
    text-align: left;
}

.navbar-brand {
    font-size: 180% !important;
    color: black;
}

.linkButton {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding-left: 13%; /** padding-left: 1.4em; */

    /**
    Missing-Detail: The link-button is not changing its background like a link.
     */
}

.jumbotron{
    background-color: white !important;
    text-align: center;
}