
.navbar-brand {
    font-size: 180% !important;
    color: black;
}

.linkButton {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding-left: 13%; /** padding-left: 1.4em; */

    /**
    Missing-Detail: The link-button is not changing its background like a link.
     */
}

.jumbotron {
    background-color: white !important;
    text-align: center;
}

.pull-right-navbarLogin {
    padding-right: 50px;
    padding-top: 15px;
}

.one-line-navbar {
    display: inline;
}

.href-black {
    color: black;
}

.panel-link-login {
    display: inline;
    padding-left: 23%;
}

.form-actions-interspace {
    padding-top: 3%;
    padding-bottom: 4%;
}

/* Remove table dividers */
.table th, .table td {
    border-top: none !important;
}