<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments/head :: head">
        <title>SalesWebApp LoginPasswordReset</title>
    </head>

    <body>
    <div th:replace="fragments/navbarLogin :: navbarLogin"></div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" style="padding-top: 5%">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <th th:text="#{passwordReset.label.info}"/> </h3>
                </div>

                <div class="panel-body">
                    <form th:action="@{/passwordReset}" th:object="${passwordResetForm}" method="post">
                        <div class="form-group">
                            <label style="padding-left: 2.5%"> <th th:text="#{passwordReset.label.textInfo}" /> </label>
                            <div></div>

                            <ul th:if="${#fields.hasErrors('*')}">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="text-danger" />
                            </ul>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-6 col-lg-md-6 col-sm-6 form-label" style="padding-top: 1.5%">
                                <label class="glyphicon glyphicon-question-sign" th:title="#{passwordReset.label.tooltip.securityCode}"></label>
                                <th th:text="#{passwordReset.label.securityCode}" />
                            </label>

                            <div class="col-lg-5 col-lg-md-5 col-sm-5" th:classappend="${#fields.hasErrors('*{securityCode}')}? has-error">
                                <input style="min-width: 200px" type="text" th:field="*{securityCode}" required="required" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-6 col-lg-md-6 col-sm-6 form-label" style="padding-top: 1.5%">
                                <label class="glyphicon glyphicon-question-sign" th:title="#{passwordReset.label.tooltip.password}"></label>
                                <th th:text="#{passwordReset.label.newPassword}" />
                            </label>

                            <div class="col-lg-5 col-lg-md-5 col-sm-5" th:classappend="${#fields.hasErrors('*{newPassword}')}? has-error">
                                <input style="min-width: 200px" type="password" th:field="*{newPassword}" required="required" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-6 col-lg-md-6 col-sm-6 form-label" style="padding-top: 1.5%">
                                <label class="glyphicon glyphicon-question-sign" style="visibility: hidden"></label>
                                <th th:text="#{passwordReset.label.newPasswordRepeat}" />
                            </label>

                            <div class="col-lg-5 col-lg-md-5 col-sm-5" th:classappend="${#fields.hasErrors('*{newPassword}')}? has-error">
                                <input style="min-width: 200px" type="password" th:field="*{newPasswordRepeat}" required="required" class="form-control"/>
                            </div>
                        </div>

                        <div style="padding-top: 3%">
                            <button class="btn btn-primary" style="width: 100px" type="submit"> <th th:text="#{universal.label.save}" /> </button>
                            <a th:href="@{passwordRequest}" class="btn btn-primary" style="width: 175px"> <th th:text="#{passwordReset.label.newResetCode}" /> </a>
                            <a th:href="@{login}" class="btn btn-primary" style="width: 100px"> <th th:text="#{universal.label.cancel}" /> </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>

</html>





